<div class="row">
  <div class="hidden-sm-down col-sm-3">
    <div class="card card-block">
      <h5>Public Channel - {{user.name}}</h5>
    </div>
  </div>

  <div class="col-xs-12 col-sm-9">
    <div class="ny-messages-view" style="padding-bottom: 180px;"></div>

    <form class="ny-message-form" style="position: fixed;bottom: 0px;width: inherit">
      <div class="form-group">
        <textarea class="form-control" rows="4"></textarea>
      </div>
      <button type="submit" class="btn btn-block btn-lg btn-primary">Send</button>
    </form>
  </div>
</div>
