<html>
  <head>
    <title>NYCDA Chat Application</title>
    <meta name="description" content="This is an example chat application we built for NYCDA Intensive Web Development class. It uses node.js, express, socket.io"
  </head>
  <body>
    {{{body}}}
  </body>
</html>
