<div class="row">
  <div class="hidden-sm-down col-sm-3">
    <div class="card card-block">
      <h5>Public Channel</h5>
    </div>
  </div>

  <div class="col-xs-12 col-sm-9">
    <div class="ny-messages-view" style="padding-bottom: 180px;"></div>

    <form class="ny-message-form" style="position: fixed;bottom: 0px;width: inherit">
      <div class="form-group">
        <textarea class="form-control" rows="4"></textarea>
      </div>
      <button type="submit" class="btn btn-block btn-lg btn-primary">Send</button>
    </form>
  </div>
</div>



<!-- username prompt model -->
<div class="modal fade ny-username-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Login with Facebook</h4>
      </div>
      <div class="modal-body">
        <a href="https://www.facebook.com/v2.8/dialog/oauth?client_id=1829373514000205&redirect_uri=http://localhost:3005/fb-login&scope=public_profile,email" class="btn btn-block btn-primary btn-lg">
          <i class="fa fa-facebook-official" aria-hidden="true"></i> Login with Facebook</a>
      </div>
    </div>
  </div>
</div>
